/* *{
    color: white;
} */

.text-gray{
    color: #5A5858;
}

.container-nav{
    background-color: #F8F9FA;       
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: #F8F9FA;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.sidebar{
    flex-direction: column;
    background-color: #051D34;
    background-image: url(../img/sidebar-bg.png);
    width: 230px;    
    flex-shrink: 0;
    
}

.home{
    flex-grow: 1;
    overflow: auto;
}

.nav-sidebar{
    margin-bottom: auto;
}

.top-section{
    background-color: #1D72E7;
}

.col-8,
.col-4{
    border: 2px solid black;
}
